[package]
name = "cppship"
version = "0.8.1"
authors = []
std = 20

[dependencies]
boost = { version = "1.81.0", components = ["headers"], options = { header_only = true } }
toml11 = "3.7.1"
fmt = "10.0.0"
range-v3 = "0.12.0"
bshoshany-thread-pool = "3.3.0"
ms-gsl = "4.0.0"
argparse = "2.9"
spdlog = "1.11.0"

[profile]
definitions = ["BOOST_PROCESS_USE_STD_FS"]

[target.'cfg(not(compiler = "msvc"))'.profile]
cxxflags = ["-Wall", "-Wextra", "-Werror", "-Wno-unused-parameter", "-Wno-missing-field-initializers"]

[target.'cfg(compiler = "gcc")'.profile]
# -Wno-restrict: gcc-12 has bug in -O3: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105329
# -Wno-dangling-reference: https://github.com/qqiangwu/cppship/issues/67
cxxflags = ["-Wno-restrict", "-Wno-dangling-reference", "-Wno-free-nonheap-object"]

[target.'cfg(not(compiler = "msvc"))'.profile.debug]
ubsan = true

# macos with gcc11 has bugs in asan:
# `member call on address 0x60b0000001a0 which does not point to an object of type '_Sp_counted_base'`
[target.'cfg(any(os = "linux", compiler = "clang", compiler = "apple_clang"))'.profile.debug]
asan = true

[target.'cfg(compiler = "msvc")'.profile]
cxxflags = ["/Zc:__cplusplus", "/Zc:preprocessor", "/MP"]