[package]
name = "cppship"
version = "0.0.1"
edition = 2023
authors = []

[dependencies]
boost = "1.81.0"
toml11 = "3.7.1"
fmt = "9.1.0"
range-v3 = "0.12.0"
bshoshany-thread-pool = "3.3.0"
ms-gsl = "4.0.0"
indicators = "2.3"
argparse = "2.9"
spdlog = "1.11.0"